.linetopContainer{
    background-color: #9a455e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: aliceblue;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 4px;
}

.logoSite{
    width: 10%;
}

@media(max-width: 512px){
    .linetopContainer{
     font-size: 1rem;
    }

    .logoSite{
        width: 20%;
    }
}

