.footerContainer{
    background-color:#ff7675 ;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 0.5rem;
    color: #5f27cd;
    font-weight: bold;
    margin: 0 0.5rem;
    border-radius: 4px;
}

.desenvolvedContainer{
    display: flex;
    justify-content: left;
    align-items: center;
}

.logoReprograma{
    display: flex;
    width: 20%;
}

.redesIcons{
    width: 40%;
}

.redesContainer{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
}