.searchBody{
   background-color:  #f09bb5;
   height: 60%;
   margin: 0.5rem;
   border-radius: 4px;
   align-items: center;
   justify-content: center;
   padding: 50px 0;
}


.searchResultsContainer{
    border: solid 2px #f09bb5;
    margin: 0.5rem;
    border-radius: 4px;
    height: 30vh;
}

.searchInput{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

.bodyImg{
    width: 35%;
}