.bodyContainer{
    height: 50%;
    background-color: #f09bb5;
    margin: 0.5rem;
    border-radius: 4px;
}

.citacao{
    font-style: italic;
    font-weight: bold;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 300px;
}