.contactBody{
    background-color:  #f09bb5;
   height: 100vh;
   margin: 0.5rem;
   border-radius: 4px;
   align-items: center;
   justify-content: center;
   padding: 50px 0;
}

.formContainer{
    margin: 0.5rem;
    border: solid 2px #f09bb5;
    border-radius: 4px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInput{
    width: 60%;
    padding: 0.6rem 2rem;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 1rem 0;
    resize: vertical;
}

.formButton{
    width: 65%;
    border: solid 2px #f09bb5;
    border-radius: 4px;
    margin: 1rem 0;
}