.wantDonationBody{
    background-color: #f09bb5;
   height: 20vh;
   margin: 0.5rem;
   border-radius: 4px;
   /* /* align-items: center; */
   justify-content: center; 
   padding: 10px 0;
}

.bodyTitle{
    justify-content: center;
}

.buttonsLineWantDonations{
    display: flex;
    justify-content: right;
    margin: 5px  20px;
}

.donationsArea{
    display: flex;
}

.lateralDonationsBar{
    display: flex;
    flex-direction: column;
    border: 2px solid #f09bb5;
    margin: 10px;
    border-radius: 4px;
    line-height: 3rem;
    width: 20%;
}

.colectDonationsArea{
    border: 2px solid #f09bb5;
    margin: 10px;
    border-radius: 4px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
}

.loginButton{
    background-color: #9a455e;
    border: solid 1px aliceblue;
    width: 50px;
    font-weight: bolder;
    color: aliceblue;
}